
body {
    /* font-family: "Montserrat"; */
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    /* font-family: "Montserrat-Bold"; */
  }
  
  /* Headings */
  
  .loginRegister {
    text-align: left;
  }
  .big-heading {
    /* font-family: "Montserrat-Black"; */
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
  }
  
  /* Sections */
  
  
  
  .white-section {
    background-color: #fff;
  }
  
  /* Navigation Bar */
  
  
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Section */
  
  
  
  .title .container-fluid {
    padding: 3% 15% 7%;
  }
  
  /* Title Image */
  
  .title-image {
    width: 30%;
    /* transform: rotate(25deg); */
    position: absolute;
    right: 20%;
  }
  
  /* Features Section */
  
  #features {
    position: relative;
  }
  
  .feature-title {
    color: Black;
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color: #c8a1e3;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #a1d7e3;
  }
  
  /* Testimonial Section */
  
  #testimonials {
    background-color: #ef8172;
  }
  
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  
  #press {
    background-color: #ef8172;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  /* Pricing Section */
  
  #pricing {
    padding: 100px;
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }
  
  /* CTA Section */
  
  
  /* Footer Section */
  
  
  .social-icon {
    margin: 20px 10px;
  }
  
  @media (max-width: 1100px) {
  
    .top-buttons{
      text-align: center;
    }
  
    .big-heading {
      text-align: center;
    }
  
    .title-image {
      position: static;
      width: 30%;
    }
  
    .img-div{
      text-align: center;
    }
  }
  
  @media (max-width: 900px) {
    .big-heading{
      font-size: 2rem;
    }
  }
  
  .colored-section-title{
    padding-top: 0 !important;
    padding-bottom: 200px;
  }
  