#watchlist-screen__watchlist-input {
  width: 50%;
  padding-bottom:15px;
}

#watchlist-screen__button-addon1 {
  width: 60px;
}

.watchlist-screen__errorDisplay {
  position: absolute;
  margin-top: -30px;
  color: red;
}

  